[Desktop Entry]
Version=1.0
Name=dwm Session
Name[am]=dwm ክፍለ ጊዜ
Name[ar]=dwm Session
Name[ast]=dwm Session
Name[be]=Сеанс dwm
Name[be@tarask]=Сэанс dwm
Name[bg]=dwm сесия
Name[ca]=Sessió dwm
Name[cs]=Relace prostředí dwm
Name[da]=dwm-session
Name[de]=dwm-Sitzung
Name[el]=Συνεδρία dwm
Name[en_AU]=dwm Session
Name[en_CA]=dwm Session
Name[en_GB]=dwm Session
Name[eo]=dwm-seanco
Name[es]=Sesión de dwm
Name[et]=dwm sessioon
Name[eu]=dwm saioa
Name[fi]=dwm-istunto
Name[fr]=Session dwm
Name[gl]=Sesión de dwm
Name[he]=סשן dwm
Name[hi]=dwm Session
Name[hr]=dwm sesija
Name[hu]=dwm munkamenet
Name[hy_AM]=dwm նիստ
Name[hye]=dwm նիստ
Name[id]=Sesi dwm
Name[ie]=Session dwm
Name[is]=dwm seta
Name[it]=Sessione di dwm
Name[ja]=dwm セッション
Name[kk]=dwm сессиясы
Name[ko]=dwm 세션
Name[lt]=dwm seansas
Name[ms]=Sesi dwm
Name[nb]=dwm-økt
Name[nl]=dwm-sessie
Name[nn]=dwm-økt
Name[oc]=Sesilha dwm
Name[pl]=Sesja dwm
Name[pt]=Sessão dwm
Name[pt_BR]=Sessão do dwm
Name[ro]=Sesiune dwm
Name[ru]=Сеанс dwm
Name[sk]=Sedenie dwm
Name[sl]=dwm seja
Name[sq]=Sesion dwm
Name[sr]=dwm Session
Name[sv]=dwm-session
Name[te]=dwm సెషన్
Name[th]=วาระ dwm
Name[tr]=dwm Oturumu
Name[ug]=dwm ئەڭگىمەسى
Name[uk]=Сеанс dwm
Name[vi]=Phiên chạy dwm
Name[zh_CN]=dwm 会话
Name[zh_HK]=dwm 工作階段
Name[zh_TW]=dwm 工作階段
Comment=Use this session to run dwm as your desktop environment
Comment[ar]=Use this session to run dwm as your desktop environment
Comment[ast]=Usa esta sesión pa executar dwm como'l to entornu d'escritoriu
Comment[be]=Выкарыстайце гэты сеанс для запуску працоўнага асяроддзя dwm
Comment[be@tarask]=Выкарыстайце гэты сэанс для запуску асяродьдзя dwm
Comment[bg]=Използвайте тази сесия за да стартирате dwm като Ваша графична среда
Comment[ca]=Utilitzeu aquesta sessió per a l'execució de dwm com al vostre entorn d'escriptori
Comment[cs]=Použít tuto relaci ke spuštění dwm jako vašeho pracovního prostředí
Comment[da]=Brug denne session til at køre dwm som dit skrivebordsmiljø
Comment[de]=Diese Sitzung auswählen, um dwm als Ihre Arbeitsumgebung zu starten
Comment[el]=Χρήση αυτής της συνεδρίας για εκτέλεση του dwm ως περιβάλλον εργασίας
Comment[en_AU]=Use this session to run dwm as your desktop environment
Comment[en_CA]=Use this session to run dwm as your desktop environment
Comment[en_GB]=Use this session to run dwm as your desktop environment
Comment[es]=Use esta sesión para ejecutar dwm como su entorno de escritorio
Comment[et]=Kasuta seda sessiooni dwm käivitamiseks oma töölauakeskkonnana
Comment[eu]=Erabili saio hau dwm mahaigain ingurune gisa exekutatzeko.
Comment[fi]=Valitse tämä istunto käyttääksesi dwm-työpöytäympäristöä 
Comment[fr]=Utilisez cette session pour exécuter dwm comme environnement de bureau
Comment[gl]=Empregar esta sesión para executar dwm como contorno de escritorio
Comment[he]=השתמש בסשן זה כדי להפעיל את dwm בתור סביבת שולחן עבודה שלך
Comment[hi]=Use this session to run dwm as your desktop environment
Comment[hr]=Koristite ovu sesiju da bi pokrenuli dwm kao vaše radno okruženje
Comment[hu]=Használja ezt a munkamenetet az dwm futtatásához asztali környezetként
Comment[hy_AM]=Գործածէք այս նիստը, գործարկելու համար dwm աշխատասեղանի միջավայրը
Comment[hye]=Գործածէք այս նիստը, գործարկելու համար dwm աշխատասեղանի միջավայրը
Comment[id]=Gunakan sesi ini untuk menjalankan dwm sebagai lingkungan desktop anda
Comment[ie]=Usa ti-ci session por lansar dwm quam vor ambientie
Comment[is]=Notaðu þessa setu til að keyra dwm sem skjáborðsumhverfi
Comment[it]=Avvia dwm come ambiente grafico per questa sessione
Comment[ja]=dwm をデスクトップ環境として起動するためにこのセッションを使用します
Comment[kk]=Бұл сессияны негізгі жұмыс үстел ортасы ретінде dwm-ні қолдану үшін қолданыңыз
Comment[ko]=데스크톱 환경으로서 dwm를 실행하려면 이 세션을 사용합니다
Comment[lt]=Naudoti šį seansą, kad dwm būtų naudojama kaip jūsų darbalaukio aplinka
Comment[ms]=Gunakan sesi ini untuk jalankan dwm sebagai persekitaran desktop anda
Comment[nb]=Kjør dwm som skrivebordsmiljø denne økta.
Comment[nl]=Gebruik deze sessie om dwm te draaien als uw werkomgeving
Comment[nn]=Bruk denne økta for å køyra dwm som skrivebordsmiljø
Comment[oc]=Utilizatz aquesta sesilha per executar dwm coma environament de burèu
Comment[pl]=Uruchamia sesję środowiska graficznego dwm
Comment[pt]=Utilizar esta sessão para executar o dwm como ambiente de trabalho
Comment[pt_BR]=Usar esta sessão para executar o dwm como seu ambiente de trabalho
Comment[ro]=Utilizați această sesiune pentru a inițializa mediul desktop dwm
Comment[ru]=Использовать этот сеанс, чтобы сделать dwm вашим окружением
Comment[sk]=Použite toto sedenie pre spustenie dwm ako vášho pracovného prostredia
Comment[sl]=Zaženi sejo dwm namiznega okolja
Comment[sq]=Përdoreni këtë sesion që të xhironi dwm-në si mjedisin tuaj desktop
Comment[sr]=Користите ову седницу за покретање ИксФЦЕ-а као радног окружења
Comment[sv]=Använd denna session för att köra dwm som din skrivbordsmiljö
Comment[th]=Use this session to run dwm as your desktop environment
Comment[tr]=dwm'yi masaüstü ortamınız olarak kullanmak için bu oturumu kullanın
Comment[ug]=مەزكۇر ئەڭگىمەدە ئۈستەلئۈستى ئۈچۈن dwm ئىشلىتىلىدۇ
Comment[uk]=Використайте цей сеанс для запуску dwm як Вашого типого середовища.
Comment[vi]=Sử dụng phiên chạy này để dùng dwm như môi trường làm việc của bạn
Comment[zh_CN]=使用此会话将 dwm 作为您的桌面环境运行
Comment[zh_HK]=使用這個工作階段來執行 dwm 作為桌面環境
Comment[zh_TW]=使用這個工作階段來執行 dwm 作為您的桌面環境
Exec=dwm
Icon=
Type=Application
DesktopNames=dwm
